<h1>Nathan's Junkyard</h1>
<h2>A collection of stuff I don't want to keep to myself, lest I forget about it.</h2>
<h3>Directory:</h3>

<ol>
  <li><a href="/about">About Nathan</a></li>
  <li><a href="/contact">Contact Nathan</a></li>
  <li><a href="/junkyards">Junkyard</a></li>
  <li><a href="/thoughts">Thoughts</a></li>
</ol>

<h3>Subscribe to Emails:</h3>

<%= form_with(model: Subscriber.new, url: subscribe_path, method: :post, local: true) do |form| %>
  <div>
    <%= form.label :name, "Your Name" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :email, "Your Email Address" %>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.submit "Subscribe" %>
  </div>
<% end %>

