<!DOCTYPE html>
<html>
  <head>
    <title>Nablog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <!-- the next 3 lines are really important for flash messages to work --> 
  <% flash.each do |key, message| %>
    <div class="flash <%= key %>"><%= message %></div>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
